@model IEnumerable<DevInHouse.EFCoreApi.Application.ViewModels.LivroViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-primary" asp-action="Create" role="button">Novo Livro</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @item.Publicacao.ToString("dd MMMM, yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"  title="Edita Livro">
                  <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" title="Detalha Livro">
                  <i class="bi bi-card-text"></i>
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Remove Livro">
                  <i class="bi bi-trash-fill"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
